/*@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500;600&display=swap');*/

::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:5px;
height:0px
}

::-webkit-scrollbar-track {
background-color:#ecedee
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background-color:#6dc0c8;
}

::-webkit-scrollbar-thumb:hover{
background-color:#56999f;
}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:4px;
height:0px
}

::-webkit-scrollbar{
width: 4px;
}

.slider_menu {font-family: 'Raleway', sans-serif;}

.menu_bar .right_arrow, .menu_bar .left_arrow {
    width: 40px!important;
    height: 28px!important;
    //border-radius: 30px;
    //border: 0;
	z-index:9999;
}

.sm_button_add {
    background-color: #d9dbd8;
    border: 1px solid #999;
    padding: 5px;
	-webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

.sm_title {
    position: absolute;
    left: 5%;
    top: 2%;
    width: 90%;
    height: 3%;
    max-height: 4%;
    max-width: 90%;
    min-height: 3%;
    min-width: 90%;
    background-color: transparent;
    font-size: 20px;
    font-weight:700;
    /* font-family: 'Circular-Loom'; */
}

.ss_sn_label p, .ss_st_label p, .ss_so_label p, .ss_sd_label  p{
	font-weight:700
}

.fs_label p {margin-bottom:0}

.sm_sl_sr_name .sm_sl_sr_delete {
    position: absolute;
    left: 62%;
    top: 60%!important;
    width: 60%;
    /* height: 40%; */
    /* max-height: 40%; */
    /* max-width: 50%; */
    padding: 10px;
    /* min-height: 40%; */
    /* min-width: 30%; */
    /* background-color: #cdf7bf; */
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
    border: none;
    /* word-break: break-all; */
    background: #b6e026;
    background: -moz-linear-gradient(top, #b6e026 0%, #abdc28 100%);
    background: -webkit-linear-gradient(top, #b6e026 0%,#abdc28 100%);
    background: linear-gradient(to bottom, #b6e026 0%,#abdc28 100%);
}

.sm_sl_sr_name button, .sm_sl_sr_name input[type="button"], .sm_sl_sr_name input[type="reset"] {
    border: 1;
    cursor: pointer;
    -webkit-appearance: button;
    position: absolute;
    top: 50px!important;
}

#sm_sl_sr_delete {position:absolute; top:30px}

.sm_sl_sr_delete {/* background:transparent!important; */border:none!important;/* color:#ef4210!important; */font-weight:bold;position:absolute;/* margin-left: 20px; */top: 54px;left: 60%;width: 38%;max-height: 40%;text-align: center;border-radius: 4px;font-weight: bold;line-height: 23px;border: none;color: #fff;background: #f88526;background: -moz-linear-gradient(top, #b6e026 0%, #abdc28 100%);background: -webkit-linear-gradient(top, #b6e026 0%,#abdc28 100%);background: linear-gradient(to bottom, #f7581dab 0%,#fa785c 100%);}
