.filter_settings_fade {
	display: none;
	position: absolute;
	left: 5%;
	top: 5%;
	width: 90vw;
	height: 90vh;
	min-width: 750px;
	min-height: 250px;
	background-color: #ffffff;
	border-radius: 2px;
}

.filter_settings_fade:before {
	content: '';
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	z-index: 70;
}

.filter_settings {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	border-radius: 3px;
	z-index: 80;
	opacity: 1;
	overflow-x: auto;
}

.fs_title_block {
	position: absolute;
	display: flex;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 55px;
	background-color: #ffffff;
}

.fs_tb_label {
	width: 80%;
	margin: auto;
	font-weight: 700;
	text-transform: uppercase;
}

.fs_tb_button_ok {
	position: absolute;
	left: 68%;
	top: 15%;
	width: 15%;
	height: 70%;
	text-align: center;
	border-radius: 4px;
	font-weight: bold;
	border: none;
	/*background: #b6e026;*/
	background: -moz-linear-gradient(top, #b6e026 0%, #abdc28 100%);
	background: -webkit-linear-gradient(top, #b6e026 0%,#abdc28 100%);
	background: linear-gradient(to bottom, #b6e026 0%,#abdc28 100%);
}

.fs_tb_button_exit {
	position: absolute;
	left: 84%;
	top: 15%;
	width: 15%;
	height: 70%;
	text-align: center;
	border-radius: 4px;
	font-weight: bold;
	border: none;
	background: -moz-linear-gradient(top, #b6e026 0%, #abdc28 100%);
	background: -webkit-linear-gradient(top, #b6e026 0%,#abdc28 100%);
	background: linear-gradient(to bottom, #f7581dab 0%,#fa785c 100%);
}

.fs_select_block {
	position: absolute;
	left: 1%;
	top: 55px;
	width: 98%;
	height: calc(99% - 60px);
	background-color: #fad7d7;
	border: 1px solid #c9c8c8;
	border-radius: 2px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
}

.fs_sb_options_list {
	position: absolute;
	left: 1%;
	top: 1%;
	width: 48%;
	height: calc(97% - 30px);
	background-color: #fad7d7;
	border: 1px solid #c9c8c8;
	border-radius: 2px;
	overflow-x: auto;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
}

.fs_sb_selected_options {
	position: absolute;
	left: 51%;
	top: 1%;
	width: 48%;
	height: calc(97% - 30px);
	background-color: #fad7d7;
	border: 1px solid #c9c8c8;
	border-radius: 2px;
	overflow-x: auto;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
}

.fs_sb_search_string {
	position: absolute;
	left: 1%;
	top: calc(99% - 30px);
	width: 98%;
	height: 30px;
	background-color: #fad7d7;
	border: 1px solid #c9c8c8;
	border-radius: 2px;
	background: #ffffff;
}

.fs_sb_ol_option_block {
	position: absolute;
	top: 5px;
	left: 1%;
	width: 98%;
	height: 4%;
	min-height: 25px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.fs_sb_so_option_block {
	position: absolute;
	top: 5px;
	left: 1%;
	width: 98%;
	height: 4%;
	min-height: 25px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

